/* feed list */

/*md-list-item.md-2-line .md-list-item-text h3,
md-list-item.md-2-line > .md-no-style .md-list-item-text h3,
md-list-item.md-3-line .md-list-item-text h3,
md-list-item.md-3-line > .md-no-style .md-list-item-text h3{
  line-height: 1em;
}*/

.thumb {
  max-height: 20px;
  padding-right: 10px;
}

/* article */
/*.article-content{
  padding-bottom: 60px;
}

.article-content img{
  max-width: 100%;
}

.article .md-subheader .md-subheader-inner{
  padding-top: 0px;
}*/

/* nav buttons*/
/*.nav-buttons .material-icons{
  font-size: 30px;
  color: #eee;
}

.nav-buttons-end {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-buttons-top p{
  text-align: center;
}*/

img, video {
  max-width: 100%;
}
