.md-toolbar-tools .material-icons{
  font-size: 42px;
}

.md-3-line .material-icons{
  font-size: 32px;
}

.article-content{
  padding-bottom: 60px;
}

.nav-buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-buttons .material-icons{
  font-size: 30px;
  margin-top: 4px;
}

.thumb {
  max-height: 20px;
  padding-right: 10px;
}

.unread .p{
  font-weight: bolder;
}


md-list-item.md-2-line .md-list-item-text h3, md-list-item.md-2-line > .md-no-style .md-list-item-text h3, md-list-item.md-3-line .md-list-item-text h3, md-list-item.md-3-line > .md-no-style .md-list-item-text h3{
  line-height: 1em;
}

.article-content img{
  max-width: 100%;
}

.md-content {
  transition: all 400ms ease-out 50ms;
}