/* feed list */

md-list-item.md-3-line::before, md-list-item.md-3-line > .md-no-style::before,
md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style{
  min-height: 44
}

.thumb {
  max-height: 24px;
  padding-right: 10px;
  vertical-align: middle;
}

/* article */
.article-content{
  padding-bottom: 60px;
}

.article .md-subheader .md-subheader-inner{
  padding-top: 0px;
}

/* nav buttons */
.nav-buttons .material-icons{
  font-size: 30px;
  color: #eee;
}

.nav-buttons-end {
  position: fixed;
  bottom: 0;
  width: 100%;
}

img, video {
  max-width: 100%;
}
