<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>TinyTinyRSS-Mobilete</title>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css"/>
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="//rawgit.com/chieffancypants/angular-hotkeys/master/build/hotkeys.min.css"/>
        <link rel="stylesheet" href="./styles/app.css"/>
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-messages.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.js"></script> 
        <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
        <script src="//rawgit.com/chieffancypants/angular-hotkeys/master/build/hotkeys.min.js"></script>

        <script type="text/javascript" src="js/mobilete.js"></script>
        <script type="text/javascript" src="js/gazosa.js"></script>
        <script type="text/javascript" src="js/ciclomotor.js"></script>
        <script type="text/javascript" src="js/guidon.js"></script>
        
        <link rel="prefetch" href="categories.html" />
        <link rel="prefetch" href="login.html" />
        <link rel="prefetch" href="items.html" />
        <link rel="prefetch" href="detail.html" />
        <link rel="prefetch" href="settings.html" />
    </head>
    <body ng-controller="AppController">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button
                           class="md-icon-button back-button"
                           aria-label="Back"
                           ng-href='{{back}}'
                           ng-if="back">
                    <i class="material-icons">arrow_back</i>
                </md-button>
                <span flex></span>
                <h4>
                    <span>TTRSS-Mobilete</span>
                </h4>
                <span flex></span>
                <md-button
                           class="md-icon-button"
                           aria-label="Settings"
                           ng-if="template != 'settings.html'"
                           ng-href='#/settings'>
                    <i class="material-icons">settings</i>
                </md-button>
            </div>
        </md-toolbar>
        <ng-view layout-fill></ng-view>
      <script type="text/javascript" src="js/ignicao.js"></script>
    </body>
</html>
