<md-content ng-controller="FeedController">
    <md-subheader class="md-primary">
      <img ng-src="{{iconPath(feed.id)}}" class="thumb" alt="{{feed.title}}"  ng-if="feed.has_icon">
      ({{feed.unread}}) {{feed.title}}
    </md-subheader>
    <md-content layout-align="center center" layout>
      <md-progress-circular md-mode="indeterminate" ng-show="!items"></md-progress-circular>
    </md-content>
    <md-list ng-show="items" ng-class="unread_only">
      <md-list-item
                   ng-if="item.unread || !unread_only"
                   ng-class="item.unread ? 'md-3-line unread':'md-3-line read'"
                   ng-repeat="item in items"
                   ng-click="openItem(item, $index)"
                   md-swipe-left="markAsReaded(item, $event)"
                   md-swipe-right="openInOtherTab(item, $event)">
        <img ng-src="{{iconPath(item.id)}}" class="thumb" alt="{{item.title}}"  ng-if="item.has_icon">
        <div class="md-list-item-text">
          <h3>{{item.title}}</h3>
          <p ng-bind-html="item.excerpt"></p>
        </div>
        <i class="material-icons">arrow_forward</i>
      </md-list-item>
    </md-list>
</md-content>