<md-content>
    <md-subheader class="md-primary">
      <img ng-src="{{iconPath(feed.id)}}" class="thumb" alt="{{feed.title}}"  ng-if="feed.has_icon">
      ({{feed.unread}}) {{feed.title}}
      <span flex></span>
      <md-button
               class="md-icon-button"
               aria-label="Refresh"
               ng-click="reloadRoute()">
        <i class="material-icons">autorenew</i>
      </md-button>
    </md-subheader>
    <md-content layout-align="center center" layout>
      <md-progress-circular md-mode="indeterminate" ng-show="!items || !feed"></md-progress-circular>
    </md-content>
    <md-list ng-show="items" ng-class="unread_only">
      <md-list-item
            ng-if="item.unread || !unread_only"
            ng-class="'md-list-item' + $index + ' md-3-line ' + (item.unread ? 'unread':'read')"
            ng-repeat="item in items"
            ng-click="openItem(item, $index)"
            md-swipe-left="markAsReaded(item, $event)"
            md-swipe-right="openInOtherTab(item, $event)"
            >
        <img ng-src="{{iconPath(item.id)}}" class="thumb" alt="{{item.title}}"  ng-if="item.has_icon">
        <div class="md-list-item-text">
          <h3>{{item.title}}</h3>
        </div>
        <i class="material-icons">arrow_forward</i>
      </md-list-item>
    </md-list>
</md-content>