<ons-page ng-controller="LoginController">
  <ons-toolbar>
    <div class="left">
      <ons-back-button ng-if="(guidon.hideBack ? false : true)">Back</ons-back-button>
    </div>
    <div class="center">TinyTinyRSS-Mobilete {{title}}</div>
    <div class="right">
      <a href="#/phones/">
        <ons-toolbar-button ng-if="(guidon.hideSettings ? false : true)">
          Settings 
          <i class="ion-settings"></i>
        </ons-toolbar-button>
      </a>
    </div>
  </ons-toolbar>
  <div class="login-form">
    <input type="email" class="text-input--underbar" placeholder="Email" value="">
    <input type="password" class="text-input--underbar" placeholder="Password" value="">
    <br><br>
    <ons-button modifier="large" class="login-button">Log In</ons-button>
  </div>
</ons-page>